<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--影像檔案目錄及 Filter-->
		<add key="SaveImageDefaultDirectory" value="" />
		<add key="OpenImageDefaultDirectory" value="" />
		<add key="SaveImageFilter" value="tiff (*.tiff;*.tif)|*.tiff;*.tif|jpeg (*.jpg;*.jpeg)|*.jpg;*.jpeg|png (*.png)|*.png|bmp (*.bmp)|*.bmp|all files (*.*)|*.*"/>
		<add key="OpenImageFilter" value="Image Files(*.png;*.tiff;*.tif;*.jpg;*.jpeg)|*.png;*.tiff;*.tif;*.jpg;*.jpeg|png (*.png)|*.png|tiff (*.tiff;*.tif)|*.tiff;*.tif|jpeg (*.jpg;*.jpeg)|*.jpg;*.jpeg|all files (*.*)|*.*"/>
		<add key="ValidImageExtension" value="bmp,jpg,png,tiff"/>

		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="ShapeModelDefaultDirectory" value=""/>
		<add key="TmpFileFolder" value=""/>
		<add key="AutoExportSettingFilepath" value="Configuration\AutoExportSetting.csv"/>
		<add key="GevSCPSPacketSize" value="8192"/>
		<add key="CameraDriverAssembly" value="Hanbo.Image.Grab.PylonImageWorkingMan"/>

		<add key="DeviceCheckList" value="Configuration\DeviceCheckList.xml"/>
		<add key="MacKey" value=""/>
		<add key="OpenCameraNotice" value="true"/>
	</appSettings>
	<connectionStrings>
		<add name="SDMSConnString" connectionString="Data Source=johnnb\sqlexpress;Initial Catalog=AOM_SDMS;User ID=hanbo_user; Password=happy99;"/>
	</connectionStrings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>