<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="SaveImageDefaultDirectory" value="D:\"/>
	</appSettings>
	<connectionStrings>
		<add name="SDMSConnString" connectionString="Data Source=johnnb\sqlexpress;Initial Catalog=AOM_SDMS;User ID=hanbo_user; Password=happy99;"/>
		<add name="Hanbo.SDMS.Model.Properties.Settings.AOM_SDMSConnectionString"
		 connectionString="Data Source=johnnb\sqlexpress;Initial Catalog=AOM_SDMS;User ID=hanbo_user"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>