<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="CameraSettingSection" type="Hanbo.Configuration.Settings.CameraSettingSection, Hanbo.Configuration.Settings" allowDefinition="Everywhere" allowLocation="true" />
	</configSections>
	<CameraSettingSection>
		<Camera>
			<add Name="CameraForm" Text="Camera View" SettingFilepath="Configuration\CameraTest.xml"></add>
		</Camera>
	</CameraSettingSection>
	<connectionStrings>
		<add name="SDMSConnString" connectionString="Data Source=johnnb\sqlexpress;Initial Catalog=AOM_SDMS;User ID=hanbo_user; Password=happy99;"/>
	</connectionStrings>
	<appSettings>
		<add key="DeviceCheckList" value="Configuration\DeviceCheckList.xml"/>
	</appSettings>
</configuration>